/* Universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #f7f2eb;
}

body {
  background-color: #0a0a0a; /* Darker theme base */
  color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: #e5e5e5;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #4169e1; /* Highlight color */
}
header {
  position: fixed;
  width: 100%;
  padding: 1rem 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(10, 10, 10, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.3s ease;
}

header h1 {
  font-size: 2.5rem;
  color: #4169e1;
  font-weight: bold;
}

.nav-links a {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: #222;
}

/* Hero Section */
.hero-section {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(171, 171, 171, 0.8) 10%, rgba(0, 0, 0, 0.8))
      20%,
    url("../images/hero-bg.png") center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  text-align: center;
  z-index: 1;
  animation: fadeInUp 1.5s ease-in-out;
}

.hero-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 4rem; /* Increased font size */
  font-weight: 700;
  margin-bottom: 1rem;
  color: #4169e1;
}

.hero-content p {
  font-size: 1.6rem; /* Increased font size */
  font-weight: 300;
  color: #d0e3ff;
  margin-bottom: 2rem;
}

.hero-wave {
  width: 100%;
  height: 150px;
  position: absolute;
  /* background: url("../static/images/wave-image.png") repeat-x; */
  bottom: -1px;
  z-index: -1;
}

.cta-btn {
  position: relative;
  padding: 1.2rem 2.4rem; /* Slightly increased padding */
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: #fff;
  display: inline-flex;
  border: 2px solid #fff;
  font-weight: 600;
  font-size: 1.3rem; /* Increased font size */
  border-radius: 30px;
  transition: color 0.3s ease;
  overflow: hidden;
  z-index: 20;
  margin: 0 20px;
}

.cta-btn::before {
  content: "";
  position: absolute;
  background: #fff;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: left 0.3s ease;
  z-index: -1;
}

.cta-btn:hover::before {
  /* background-color: #ff7043; */
  left: 0;
}

.cta-btn:hover {
  color: #000;
  cursor: pointer;
}

.hero-section .floating-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.hero-section .floating-dots span {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  animation: float 10s infinite;
  opacity: 0.5;
}

.hero-section .floating-dots span:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-duration: 12s;
  animation-delay: 2s;
}

.hero-section .floating-dots span:nth-child(2) {
  top: 40%;
  left: 60%;
  animation-duration: 9s;
  animation-delay: 4s;
}

.hero-section .floating-dots span:nth-child(3) {
  top: 70%;
  left: 80%;
  animation-duration: 11s;
  animation-delay: 6s;
}
.hero-section .floating-dots span:nth-child(4) {
  top: 70%;
  left: 25%;
  animation-duration: 11s;
  animation-delay: 8s;
}
.hero-section .floating-dots span:nth-child(5) {
  top: 25%;
  left: 75%;
  animation-duration: 11s;
  animation-delay: 10s;
}

/* Features Section */
.features-section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/hero-bg.png") center/cover no-repeat;
  background-attachment: fixed;
  padding: 4rem 2rem;
  flex-direction: column;
  text-align: center;
  color: #fff; /* Light text color for dark theme */
}

.swiper-container {
  width: 30%;
  max-width: 1200px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.1rem;
  padding: 30px;
  background: transparent; /* Darker background for cards */
  border-radius: 12px;
  border: 2px solid #fff;
  margin: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
  width: 100px;
  backdrop-filter: blur(10px);
}

.swiper-slide:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.feature-image {
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #007bff; /* Blue border for image */
  transition: transform 0.3s ease;
}

.swiper-slide:hover .feature-image {
  transform: scale(1.1);
}

.swiper-slide h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #f1f1f1;
  letter-spacing: 1px;
}

.swiper-slide p {
  font-size: 1rem;
  color: #ccc;
  line-height: 1.7;
  margin-bottom: 20px;
}


@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
/* About Section */
.purpose-section {
  padding: 5rem 2rem;
  background-color: #000; /* Subtle dark background */
  text-align: center;
}

.purpose-section .section-title {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: #4169e1;
}

.purpose-section p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #e5e5e5;
  max-width: 800px;
  margin: 0 auto;
}

.purpose-section p:last-child {
  margin-top: 2rem;
}
/* Contact Section */
.contact-section {
  padding: 5rem 2rem;
  background-color: #000; /* Dark background */
  text-align: center;
}

.contact-section .section-title {
  font-family: "Playfair Display", serif;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #4169e1;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid #444;
  background-color: #333;
  color: #e5e5e5;
}

/* Footer */
.footer {
  background-color: #222;
  padding: 3rem 2rem;
  color: #e5e5e5;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-logo h2 {
  font-size: 2rem;
  color: #fff;
}

.footer-links a {
  display: block;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #e5e5e5;
}

.footer-links a:hover {
  color: #4169e1;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; /* Space between icons */
  margin-top: 2rem;
}

.social-icons a {
  font-size: 2rem; /* Set a proper size for the icons */
  color: #e5e5e5; /* Set the color for the icons */
  transition: transform 0.3s ease; /* Add transition for hover effect */
}

.social-icons a:hover {
  transform: scale(1.1); /* Slight scale effect on hover */
}

.social-icons a i {
  transition: color 0.3s ease;
}

.social-icons a:hover i {
  color: #4169e1; /* Change color on hover */
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.delay {
  animation-delay: 0.5s;
}

.delay-more {
  animation-delay: 1s;
}
/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#user-count-section {
  color: #f0f4f8; /* Dark text color for readability */
  font-weight: bold;
  font-size: 1.8rem;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
  transition: transform 0.2s ease-in-out;
  transform: translateY(50px);
}

#user-count {
  color: #98f69b; /* Highlighted color for user count */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  /* Header */
  html, body{
    overflow-x: hidden;
  }
  header {
    padding: 1rem 2%;
    flex-direction: column;
    align-items: center;
  }
  
  header h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .nav-links a {
    font-size: .8rem;
    padding: 0.5rem;
  }

  /* Hero Section */
  .hero-section {
    height: 100vh;
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-btn {
    font-size: .8rem;
    padding: 1rem 2rem;
    margin: 10px;
  }

  .hero-wave {
    height: 100px;
  }

  /* Features Section */
  .features-section {
    padding: 2rem 1rem;
    flex-direction: column;
    height: auto;
  }

  .swiper-container {
    width: 90%; /* Full-width for smaller screens */
    height: auto;
  }

  /* Purpose Section */
  .purpose-section {
    padding: 2rem 1rem;
  }

  .purpose-section .section-title {
    font-size: 1.5rem;
  }

  .purpose-section p {
    font-size: .8rem;
    line-height: 1.6;
  }

  /* Contact Section */
  .contact-section {
    padding: 2rem 1rem;
  }

  .contact-section .section-title {
    font-size: 1.5rem;
  }

  .input-group input,
  .input-group textarea {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  /* Footer */
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-links {
    margin-top: 1rem;
  }

  .social-icons {
    justify-content: center;
  }

  /* Floating Dots */
  .hero-section .floating-dots span {
    width: 6px;
    height: 6px;
    border: 1.5px solid #fff;
  }
}