<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TALKS | Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy_policy/style.css') }}">
    <script src="{{ url_for('static', filename='js/privacy_policy/script.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
        <a href="{{url_for('home')}}"><div class="logo">TALKS</div></a>
        <div class="nav-links">
            <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
            <a href="{{ url_for('terms_conditions') }}">Terms</a>
            <a href="{{ url_for('cookies') }}">Cookies</a>
            <a href="{{ url_for('data_collection') }}">Data Collection</a>
            <a href="{{ url_for('data_sharing') }}">Data Sharing</a>
            <a href="{{ url_for('data_protection') }}">Data Protection</a>
            <a href="{{ url_for('user_rights') }}">Your Rights</a>
            <a href="{{ url_for('pp_contact') }}">Contact Us</a>
        </div>
    </nav>

    <header>
        <h1>Privacy Policy & Terms of Service</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 TALKS. All rights reserved.</p>
    </footer>
</body>
</html>
