<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-W5KT34BL");
</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Join TALKS, the exclusive community to enhance your skills and network."
/>
<meta property="og:title" content="TALKS" />
<meta
  property="og:description"
  content="Join TALKS and start your journey today. It's an exclusive community to learn and grow."
/>
<meta
  property="og:image"
  content="{{ url_for('static', filename='images/icon.png') }}"
/>
<meta name="TALKS:card" content="summary_large_image" />
<meta name="TALKS:title" content="TALKS" />
<meta
  name="TALKS:description"
  content="Join TALKS today and engage with community of mindful people!"
/>
<meta
  name="TALKS:image"
  content="{{ url_for('static', filename='images/icon.png') }}"
/>
<link
  rel="icon"
  href="{{ url_for('static', filename='images/icon.png') }}"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/styles.css') }}"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
